body {
  font-family: 'Montserrat', sans-serif;
}

.photo {
  border-radius: 75px;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 50%);
  filter: grayscale(100%)

}
 #banner {
  background-image: url('images/background.jpg');
  background-size: 500px;
 }

.card {
  text-align: center;
  height: 650px;
  width: 500px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 4px;
  display: flex;
  position: relative;
}

.button {
  background-color: rgb(176,65,46);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  margin: 0px;
  opacity: 0.75;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

.name_card {
  border-radius: 0px;
  align-self: flex-end;
  height: 325px;
  background: rgb(187 177 166);
  padding: 10px;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

.body_text {
  font-weight: lighter;
  color: rgb(245, 245, 245, .9);
  padding: 13px 37px;
}



#name {
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  color: rgb(245, 245, 245, .9);
  font-size: 50px;
  padding: 25px 0px 0px 0px;
  line-height: 0;
}

#title {
  font-weight: lighter;
  color: rgb(245, 245, 245, .9);
  padding: 0px 0px 10px;
  line-height: 0px;
  text-transform: uppercase;
  font-size: 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;

}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.fa-github:before {
  color: rgb(245, 245, 245, .9);
  font-size: 25px;
}

.fa-dragon:before {
  color: rgb(245, 245, 245, .9);
  font-size: 25px;
}






